/* Custom styles for the dashboard */
.dashboard{
  padding: 100px 0;
}

.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: inherit;
    text-align: left;
    padding-top: 100px;
  }
  
  main{
    text-align: left;
  }
  .form-group{
    margin-bottom: 10px;
  }

  .custom-file-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .form-control-file {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .btn-primary {
    margin-right: 10px;
  }
  
  #file-name {
    font-style: italic;
    color: #999;
  }

  .ck-editor__editable{
    height: 150px;
  }

  .accordion-item{
    background-color: transparent !important;
    border: none !important;
  }

  .accordion-button{
    background-color: transparent !important;
    color: white !important;
  }

  .dashboard h3{
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 0) 100%);
    color: white !important;
    padding: 10px;
    font-size: 22px !important;
  }

  .nav-link{
    cursor: pointer;
  }